.App {
  text-align: center;
  background-color: aqua;
}

.App-header {
  background-color: #282c34;
  /* min-height: 50px; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-body {
  margin: 0;
  background-color: #efefe7;
  padding-top: 10px;
  justify-content: center;
  display: block;
}
